@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&subset=latin,cyrillic');
:root {
  font-family: "Open Sans", Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
